osource "f:/Code/phyphox-Satellite-main/phyphox-Satellite-main/boards/shields/*/Kconfig.shield"
osource "F:/Code/phyphox-Satellite-main/phyphox-Satellite-main/boards/shields/*/Kconfig.shield"
osource "C:/Users/edwar/ncs/v1.9.1/nrf/boards/shields/*/Kconfig.shield"
